node_modules/
.pnpm-store/
dist/
coverage/
supabase/.temp/
pnpm-lock.yaml
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
